body {
    background: #e3edf7;
}

.calculator {
    padding: 20px;
    margin: 10px 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    min-width: 80%;
    border-radius: 5px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15);
    padding: 20px;
    text-align: center;
}

.top-box, .bottom-box {
    padding: 8px 20px;
    margin: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"] {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

.buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.results {
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}